.home-button {
  height: 100px;
  width: 100px;
  margin: 10px;
  margin-left: 20px;
  padding: 0px;
}

#submitButton {
  height: 30px;
  width: 150px;
  background: black;
  color: rgb(244, 2, 2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}

#searchBar {
  height: 30px;
  width: 250px;
  background: black;
  color: rgb(244, 2, 2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

body {
  background-image: url(https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2021%2F01%2Fdemon-slayer-ufotable-free-download-background-info-001.jpg?cbr=1&q=90);
  background-position: inherit;
  background-size: stretch;
  background-repeat: round;
} 

.genreButton {
  height: 60px;
  width: 160px;
  background: none;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  color: rgb(244, 2, 2);
  font-size: 26px;
  margin-top: 20px;
}

.anime-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px; 
}

.anime-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.anime-photo {
  width: 280px; 
  height: 380px; 
}

.anime-name {
  text-align: center;
  margin: 10px; 
  color: rgb(244, 2, 2);
  font-size: 30px;
  width: 250px;
  padding: 0px;
}

.character-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px; 
}

.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.character-photo {
  width: 200px; 
  height: 300px; 
}

.character-name {
  text-align: center;
  margin: 10px; 
  color: rgb(244, 2, 2);
  font-size: 36px;
}

img {
  height: 40%;
  width: 40%;
}

h1 {
  font-size: 50px;
  display: flex;
  position: inherit;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

h2 {
  font-size: 36px;
  color: rgb(244, 2, 2);}

h3 {
  font-size: 36px;
  color: rgb(244, 2, 2);}

p {
  font-size: 26px;
  color: rgb(244, 2, 2);
}