body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06ddd246-6c9d-43e4-a170-cf8bfa893b62/dgmugea-30055367-0986-413e-8a5b-f9e9eefcdfb2.jpg/v1/fill/w_1192,h_671,q_70,strp/anime_nature_wallpaper_hd_by_rebelsfantasyworld_dgmugea-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODk2IiwicGF0aCI6IlwvZlwvMDZkZGQyNDYtNmM5ZC00M2U0LWExNzAtY2Y4YmZhODkzYjYyXC9kZ211Z2VhLTMwMDU1MzY3LTA5ODYtNDEzZS04YTViLWY5ZTllZWZjZGZiMi5qcGciLCJ3aWR0aCI6Ijw9MTU5MiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sfGix1UaZSD6Nk8j3uMA1bib-O9abfSrv4EnXa3pxfw);
  background-position: inherit;
  background-size: stretch;
  background-repeat: inherit;
} */

#adventure {
  height: 70px;
  width: 250px;
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.anime-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px; 
}

.anime-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.anime-photo {
  width: 200px; 
  height: 400px; 
}

.anime-name {
  text-align: center;
  margin: 10px; 
  color: rgb(15, 18, 60);
  font-size: 26px;
  width: 250px;
  padding: 0px;
}

.character-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px; 
}

.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.character-photo {
  width: 200px; 
  height: 300px; 
}

.character-name {
  text-align: center;
  margin: 10px; 
  color: rgb(15, 18, 60);
  font-size: 36px;
}

h1 {
  
}

h3 {

}